extends layout

block content
  #left
    h2 
      | Guy 
      br
      | Bove
    h3 Peinture
    button.rsvp RS
  #center
    button.close +
    h1 Merci de me confirmer votre présence
    button je viendrai
    button je ne viendrai pas

  #right
    h2
      | Christophe 
      br
      | Lauffenburger
    h3 Photographie
    button.rsvp VP
  #bottom
    h1 Exposition JEUDI 7 AU SAMEDI 16 MAi 2015 
    h2 7 RUE DU PONT-NEUF, 1227 CAROUGE – ENTRéE PAR LA COUR, HORAIRES 18:00 - 20:00
    h3 VERNISSAGE JEUDI 7 MAI DèS 18:00