doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    meta(property="og:site_name", content="lauffenburger-photography.ch")
    meta(property="og:title", content="Christophe Lauffenburger / Guy Bove | Exposition")
    meta(property="og:description", content="EXPOSITION JEUDI 7 AU SAMEDI 16 MAI 2015 | VERNISSAGE JEUDI 7 MAI DÈS 18:00 | 7 RUE DU PONT-NEUF, 1227 CAROUGE – ENTRÉE PAR LA COUR, HORAIRES 18:00 - 20:00")
    meta(property="og:image", content="http://fund-manager-andy-50283.netlify.com/img/EXPO.jpg")
    script(src="http://fast.fonts.net/jsapi/cfda63cb-8a17-47e4-aaf5-21ddef7cb902.js")
    //- uncomment if your site is responsive!
    //- meta(name="viewport" content="width=device-width, initial-scale=1")
    title Christophe Lauffenburger / Guy Bove | Exposition
    link(rel='stylesheet', href='/css/master.css')

  body.thanks
    block content

    script(src='/js/build.js')