doctype html
html

  head
    meta(charset='utf8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge, chrome=1')
    meta(name='description', content='description of your site')
    meta(name='author', content= "author of the site")
    script(src="http://fast.fonts.net/jsapi/cfda63cb-8a17-47e4-aaf5-21ddef7cb902.js")
    //- uncomment if your site is responsive!
    //- meta(name="viewport" content="width=device-width, initial-scale=1")
    title= _path
    link(rel='stylesheet', href='/css/master.css')

  body
    block content

    script(src='/js/build.js')